POSTGRES_HOST=localhost
POSTGRES_PORT=5435
POSTGRES_USER=postgres
POSTGRES_PASSWORD=example
POSTGRES_DB=postgres

# comma separated list of trusted origins for CORS
TRUSTED_ORIGINS=http://localhost:5173
BETTER_AUTH_SECRET=supersecretkey
WIREGUARD_ENDPOINT=wg.example.com:51820
